__pycache__/
*.py[cod]
*$py.class
*.so
raftenv/
venv
.env/
.env.*
*.env
instance/
*.sqlite3
*.db
.DS_Store
*.log
*.sqlite
*.manifest
*.spec
.ipynb_checkpoints
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.mypy_cache/
.dmypy.json
dmypy.json
pylint.log
.prof
.pytest_cache/
instance/
.cache/
.vscode/
__pycache__/
.idea/
*.swp
